/* usual reset */
body,
html {
  margin: 0;
  padding: 0;
}

/* use alternative box model */
div {
  box-sizing: border-box;
}

* {
  color: black; /* sets the text color */
  font-family: sans-serif; /* sets the font family */
}
